@font-face {
  font-family: "Spectral";
  src: url("/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Spectral";
  src: url("/fonts/Spectral-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Spectral";
  src: url("/fonts/Spectral-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/HankenGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}